{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'CSS/WebStyle.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        <title>Login</title>
    </head>

    <body>
        <div>
            <nav class="navbar">
                <ul>
                    <img class="icon" src="{% static 'Images/Icon.png' %}" alt="image not found" width="35px">
                    <b>TASKTRAX</b>
                    <li><a href="{% url 'Welcome' %}">Home</a></li>
                    <li><a href="{% url 'ContactUs' %}">Contact Us</a></li>
                    <li><a href="{% url 'AboutUs' %}">About Us</a></li>
                    <li><a href="{% url 'WhyTASKTRAX' %}">Why TASKTRAX</a></li>
                </ul>
            </nav>
        </div>

        <div class="formbody">
            <div class="formwrapper">
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" id="alertMessage">
                        <strong>Please try again: </strong> {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="Hide()">
                            <span aria-hidden=True>&times;</span>
                        </button>  
                    </div>
                {% endfor %}

                <form action="/LogIn" method="POST">
                    {% csrf_token %}
                    <h1>Login</h1>

                    <div class="inputbox">
                        <input type="text" required placeholder="Username" name="username" id="username">
                        <i class="bx bxs-user"></i>
                    </div>

                    <div class="inputbox">
                        <input type="password" required placeholder="Password" minlength="8" maxlength="16" name="password" id="password">
                        <i class="bx bxs-lock-alt"></i>
                    </div>

                    <div class="check">
                        <input id="rem" type="checkbox" name="remember me" value="remember me">
                        <label for="rem">Remember me</label>
                    </div>

                    <button class="btn" type="submit">Log in</button>

                    <div class="formlink">
                        <label>Don't have an account yet?</label>
                        <a href="/SignUp">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
        <script src="{% static 'JS/Index.js' %}"></script>
    </body>
</html>
