{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'CSS/WebStyle.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        <title>My Tasks</title>
    </head>

    <body background="Images/LogoOnly.png">
        <div>
            <nav class="navbar">
                <ul>
                    <img class="icon" src="{% static 'Images/Icon.png' %}" alt="image not found" width="35px">
                    <b>TASKTRAX</b>
                    <li><a href="{% url 'Welcome' %}" id="logout">Log Out</a></li>
                    <li><a href="{% url 'TeacherHome' %}">Home</a></li>
                    <li><a href="{% url 'ContactUs' %}">Contact Us</a></li>
                    <li><a href="{% url 'AboutUs' %}">About Us</a></li>
                    <li><a href="{% url 'WhyTASKTRAX' %}">Why TASKTRAX</a></li>
                </ul>
            </nav>
        </div>

        <div class="tablebody">
            <div class="tablewrapper">
                <div class="tabletitle">
                    <h1>My Tasks</h1>    
                        
                    <form action="" method="POST" class="searchform">
                        {% csrf_token %}
                        <div class="searchbar">
                            <i class="bx bx-search-alt-2" onclick="PopulateTeacherTable()"></i>
                            <input type="search" placeholder="Search by Id, title or teacher's name..." name="searchForTeacherTask" id="searchForTeacherTask">
                            <i class="bx bx-slider" onclick="ToggleFilter()"></i>

                            <div class="filter" id="filterList">
                                <select id="filter" name="filter" multiple>
                                    <option selected disabled>Priority</option>
                                    <option value="Low">&bull; Low</option>
                                    <option value="Medium">&bull; Medium</option>
                                    <option value="High">&bull; High</option>
                                    <option selected disabled>Status</option>
                                    <option value="uncompleted">&bull; Uncompleted</option>
                                    <option value="completed">&bull; Completed</option>
                                    <option value="all" selected>All</option>
                                </select>
                                <input type="submit" value="search">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tablecontent">
                    <table id="myTableT">
                        <thead>
                            <tr>
                                <th>Completed</th>
                                <th>ID</th>
                                <th>Task Title</th>
                                <th>Priority</th>
                                <th>Created by</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td>
                                        <input type="checkbox" {% if task.status %}checked{% endif %} class="tablebtns">
                                    </td>
                                    <td>{{task.taskID}}</td>
                                    <td>{{task.title}}</td>
                                    <td>{{task.priority}}</td>
                                    <td>{{task.createdBy}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
        <script src="{% static 'JS/Index.js' %}"></script>
    </body>  
</html>
